
.App{
  background-color: #ddd;
  padding: 12px;
  width: 800px;
}
.App ul{
  margin: 0;
  padding: 0;
}
.todoList li{
  padding: 6px 12px;
  background-color: darkgrey;
  margin: 6px;
  margin-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
